.wrapper-image-container {
  width: 100%;

  .image-grid-container {
    display: grid;
    grid-column-gap: 32px;
    grid-row-gap: 12px;
    row-gap: 12px;
    column-gap: 12px;
    height: 100%;
    max-height: 60vmin;
    width: 100%;
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    .image-container {
      position: relative;
      overflow: hidden;

      &.clickable {
        cursor: pointer;
      }
    }

    img {
      width: 100%;
    }

    &.one-image {
      grid-auto-flow: column;
      grid-template-areas: "A";

      img {
        width: auto;
      }
    }

    &.two-images {
      grid-template-columns: 1fr 1fr;
    }

    &.three-images {
      grid-auto-flow: column;
      grid-template-areas:
        "A B"
        "A B"
        "A C"
        "A C";

      .image-container {
        &:first-child {
          grid-area: A;
        }

        &:nth-child(2) {
          grid-area: B;
        }

        &:nth-child(3) {
          grid-area: C;
        }
      }
    }

    &.four-images {
      grid-auto-flow: column;
      grid-template-areas:
        "A A A"
        "B C D";

      .image-container {
        &:first-child {
          grid-area: A;
        }

        &:nth-child(2) {
          grid-area: B;
        }

        &:nth-child(3) {
          grid-area: C;
        }

        &:nth-child(4) {
          grid-area: D;
        }
      }
    }

    &.five-images {
      grid-auto-flow: column;
      grid-template-areas:
        "A A A B B B"
        "C C D D E E";

      .image-container {
        &:first-child {
          grid-area: A;
        }

        &:nth-child(2) {
          grid-area: B;
        }

        &:nth-child(3) {
          grid-area: C;
        }

        &:nth-child(4) {
          grid-area: D;
        }

        &:nth-child(5) {
          grid-area: E;
        }
      }
    }
  }
}

.image-container {
  display: flex;
  justify-content: center;
}
